.showcase {
	background: url('/images/showcase.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 85vh;
}

.btn-primary,
.bg-primary {
	background: #5344df !important;
	border: none;
}

.mainfooter {
	height: 15vh;
}

/* Mobile */
@media (max-width: 768px) {
	.showcase {
		height: 100%;
		padding: 150px 0 !important;
	}
	.mainfooter {
		height: 100%;
		padding: 40px 0 !important;
	}
}
